---
---
<footer class="text-white p-4 bg-white shadow md:auto  md:p-6 dark:bg-gray-800">
    <p>Contact</p>
    <ul class="list-none">
        <li>mestarit@ksyk.fi</li>
        <li>toimitus@huhuu.news</li>
    </ul>
</footer>