---
---
<footer class="dark:text-white bg-white shadow md:auto dark:bg-gray-800 bottom-0">
    <p>Contact</p>
    <ul class="list-none">
        <li>mestarit@ksyk.fi</li>
        <li>toimitus@huhuu.news</li>
    </ul>
</footer>