---
---
<footer class="flex flex-col h-screen justify-between">
    <p>Contact</p>
    <ul class="list-none">
        <li>mestarit@ksyk.fi</li>
        <li>toimitus@huhuu.news</li>
    </ul>
</footer>