---
---
<footer class="mt-5 bottom-0 w-max dark:text-white bg-white shadow md:auto dark:bg-gray-800 sticky top-[100vh] flex justify-center">
    <p>Contact</p>
    <br>
    <ul class="list-none">
        <li><a href="mailto:mestarit@ksyk.fi">mestarit@ksyk.fi</a></li>
        <li><a href="mailto:toimitus@ksyk.fi">toimitus@huhuu.news</a></li>
    </ul>
</footer>