---
---
<footer class="text-white-400 p-4 bg-white rouded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <p>Contact</p>
    <ul class="list-none">
        <li>mestarit@ksyk.fi</li>
        <li>toimitus@huhuu.news</li>
    </ul>
</footer>