---
---
<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <p>Contact</p>
    <ul class="list-none">
        <li>mestarit@ksyk.fi</li>
        <li>toimitus@huhuu.news</li>
    </ul>
</footer>