<footer class="sticky top-[100vh] p-4 bg-slate-200 shadow md:px-6 md:py-8 dark:bg-slate-800 w-full bottom-0 h-16">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class="justify-end text-right mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <p>Contact</p>
            <ul class="list-none">
                <li><a href="#" class="hover:underline">mestarit@ksyk.fi</a></li>
                <li><a href="#" class="hover:underline">toimitus@huhuu.news</a></li>
            </ul>
        </div>
    </div>
</footer>