---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
    <main>
        <article class="blog-content md:w-auto"><slot /></article>
    </main>
</Layout>
