---
---

<nav class="flex p-4 text-xl w-auto">
    <a href="https://huhuu.news/" class="flex justify-start mb-4 sm:mb-0 mr-10 text-2xl">
        <img src="/images/uudet_ykköset_elsa.jpg" class="h-8 mr-3" alt="Huhuu Logo" />
        <span class="self-center font-semibold whitespace-nowrap dark:text-white">Huhuu</span>
    </a>
    <div class="relative flex justify-end w-full">
        <a href="/" class="mr-6">Home</a>
        <a href="/news/" class="mr-6">News</a>
        <button id="theme-toggle" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
                <path d="M12 21q-3.775 0-6.388-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.625-.075.975.45t-.025 1.1q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.525-.35 1.075-.037t.475.987q-.35 3.45-2.937 5.725T12 21Z"/>
            </svg>
        </button>
    </div>
</nav>



<script>

</script>