---
import { Icon } from 'astro-icon'
---

<nav class="flex p-4 text-xl w-auto">
    <a href="https://huhuu.news/" class="flex justify-start mb-4 sm:mb-0 mr-10 text-2xl">
        <img src="/images/uudet_ykköset_elsa.jpg" class="h-8 mr-3" alt="Huhuu Logo" />
        <span class="self-center font-semibold whitespace-nowrap dark:text-white">Huhuu</span>
    </a>
    <div class="relative flex justify-end w-full">
        <a href="/" class="mr-6">Home</a>
        <a href="/news/">News</a>
        <button id="theme-toggle" type="button">
            <Icon name="moon" class="w-6 h-6" />
        </button>
    </div>
</nav>



<script>

</script>