---
---

<nav class="flex mx-4 p-4 text-xl w-auto">
    <a href="https://huhuu.news/" class="flex justify-start mb-4 sm:mb-0 mr-10 text-2xl mr-96">
        <img src="/images/uudet_ykköset_elsa.jpg" class="h-8 mr-3" alt="Huhuu Logo" />
        <span class="self-center font-semibold whitespace-nowrap dark:text-white">Huhuu</span>
    </a>
    <div class="relative flex justify-end">
        <a href="/" class="mr-6">Home</a>
        <a href="/news/">News</a>
    </div>
</nav>